<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJERCICIO PRACTICA PARCIAL</title>
    <link rel="stylesheet" href="../static/css/home.css"> <!--importante para conectarlo con el css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap" rel="stylesheet">
</head>
<body>

    <div class="pagina">

        <div class="cuadrante1">
            <figure class="imagen_cuadros">
                <img src="../static/imagenes/grid.png" alt="grilla" width="600px" class="img-datos">
            </figure>

            <div class="texto">
                <p>ELEGÍ<br>Y<br>LLEVALO</p>
            </div> 
        </div>
        <div class="cuadrante2">
            
            <figure class="imagen_buscar_shampoo">
                <img src= "../static/imagenes/buscar.png" alt="buscar" width="600px" class="img-datos">
            </figure>

            <figure class= "imagen_redes">
                <img src= "../static/imagenes/redes.png" alt="redes" width="600px" class="img-datos">
            </figure>
        </div>
        <div class="cuadrante3">
            <div class= "texto3">
                <p3>CONSEJOS UTILES</p3>
            </div>
        </div>
        <div class="cuadrante4">

            <figure class="play">
                <img src="../static/imagenes/play.svg" alt="play" width="600px" class="img-datos">
            </figure>

            <figure class="imagen_cuadros4">
                <img src="../static/imagenes/grid.png" alt="grilla" width="600px" class="img-datos">
            </figure>

        </div>
    </div>

</body>
</html>




