<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/home.css">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>EJEMPLO DE TRABAJO</title>
    </head>
    <body>
    <!-- Este es mi comentario-->
        <section> 
            <div class="cuadro_verde_arriba">
                <div class="circulo_rojo"></div>
                <div class="circulo_amarillo"></div>
                <div class="circulo_celeste"></div>
            </div>
            <div class="cuadrado_verde_abajo">
                <h2>EN UN CLICK</h2>
                <h1>LIBRERIA</h1>
                <h3><a href="#">BUSCAR</a></h3> #<!-- como genero el enlace?-->
                <div class="cuadrado_verde_dentro"></div>
            </div>
            
            <div class="img-div">
                <img src="https://webstockreview.net/images/finger-clipart-index-finger-17.png"alt="tabla" width="600px" class="img-datos" >
            </div>
            
        </section>
    </body>
    </html>
   
   
   
   
   
   
   
   
    <!-- <section class = "medio">
        <div class="div1">
            <h2> Escribi aca la caracterizacion de tu set de datos</h2>
        </div>
        <div class="img-div">
            <img src="https://anagarciaazcarate.files.wordpress.com/2023/05/tablavacia.jpg" alt="tabla" width="600px" class="img-datos">
        </div>
       
    </section>
    <section class="Autora">
        <h3>Autora: Julieta Wolfsohn</h3>
    </section>
</body>
</html> >