*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #31aa7c;
    height: 150px;
    width: auto;
}
.pagina{
    height: 768px;
    background-color: #31aa7c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.cuadrante1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    border: 2px solid rgba(0, 0, 0, 0.509);
    overflow: hidden;
    margin-right: -1px;
    margin-bottom: -1px;
}

p{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

.imagen_cuadros{
    width: 100%;
    height: auto;
    position: relative;
    opacity:0.5

}