<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/home.css">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>PRACTICA MODELO PARCIAL</title>
    </head>
    <body>
        <header>
            <div class="recuadro"></div>
            <div class="texto1">
                <h1>IDP</h1>
                <p1>fun</p1>
                <h2>/REFRACT<h2>
            </div>
        </header>
        <section>
            <div class="parte1">
                <p>3RD REFRACT ANNUAL LATIN AMERICA VISIT</p><br>&</br><p>4TH IDPFUN ANNUAL ARGENTINA VISIT</p>
            </div>
            <div class="parte2">
                <div class="ovalo"></div>
                <div class="texto2">
                    <p2>INSCRIPCIONES ABIERTAS</p2>
                </div>
            </div>
            <div class="parte3">
                <img src="https://cdn-icons-png.flaticon.com/512/494/494954.png" alt="candado" width="150px" class="img-datos">
                <img src="https://cdn-icons-png.flaticon.com/512/6000/6000076.png" alt="calendario" width="150px" class="img-datos">
                <img src="https://cdn-icons-png.flaticon.com/512/2467/2467789.png" alt="compu" width="150px" class="img-datos">
                <p3>OPEN<br>& FREE</br></p3>
                <p4>PRESENTIAL<br>6 - 10 MARCH</br></p4>
                <p5>WORKSHOPS<br>Hands-on</br></p5>
            </div>
        </section>
        <footer>
        </footer>
    </body>
</html>



        
