<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>EJEMPLO DE TRABAJO</title>
    </head>
<body>
    <!-- Este es mi comentario-->
    <section class="seccion_violeta">
        <div class="cuadrado_amarillo"></div>
            <h1>CONTEXTO</h1>
    </section>
    <section class = "medio">
        <div class="div1">
            <h2> Escribi aca la caracterizacion de tu set de datos</h2>
        </div>
        <div class="img-div">
            <img src="https://anagarciaazcarate.files.wordpress.com/2023/05/tablavacia.jpg" alt="tabla" width="600px" class="img-datos">
        </div>
       
    </section>
    <section class="Autora">
        <h3>Autora: Julieta Wolfsohn</h3>
    </section>

    <section class="seccion_violeta2">

        <div class="cuadrado_amarillo2"></div>
        <div class= "textoo">
            <h4>RESULTADOS</h4>
        </div>

    </section>

    <section class="seccion_amarilla2">
        <div class="texto">        
            <h5>Escribi aca una conclusion de los resultados que sacaste </h5>
        </div>
        <div class="grafico">
            <img src= "https://i.pinimg.com/originals/2d/47/9c/2d479c58d2926cfba66753f10fbe9e1b.png" alt="grafico" width="350px" class="img-datos">
        </div>
        
    </section>

    <section class= "seccion_verde">
        <div class="Autora1">
            <h6>Autora: Julieta Wolfsohn</h6>
        </div>
    </section>

    <section class="seccion_violeta3">

        <div class="cuadrado_amarillo3"></div>
        <div class= "textooo">
            <h7>CONCLUSIONES</h7>
        </div>

    </section>

    <section class="seccion_amarilla3">
        <div class="texto3">        
            <h5>Escribi el resumen de recomendaciones que podes dar</h5>
        </div>
        <div class="texto4">        
            <p>*Recomendacion 1</p>
            <p>*Recomendacion 2</p>
            <p>*Recomendacion 3</p>
            <p>*Etc</p>
            
        </div>
        
    </section>

    <section class= "seccion_verde1">
        <div class="Autora2">
            <h9>Autora: Julieta Wolfsohn</h9>
        </div>
    </section>


</body>
</html>

