<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>EJEMPLO DE TRABAJO</title>
    </head>
<body>
    <section class="contexto">
        <h1>CONTEXTO</h1>
    </section>
    <section class = "tabla">
        <div class="div1">
        <p> Escribi aca la 
            caracterizacion de tu set
            de datos</p>
        </div>

        <div class="div2">
        <img src="https://marketplace.canva.com/EAFNdIoQYng/1/0/1600w/canva-horario-semanal-minimalista-est%C3%A9tico-beige-nrOXbXt3e50.jpg" alt="foto de tabla" width="500px"> </img>

       
    </section>







    <ul>
        <li> Recomendacion1 </li>
        <li> Recomendacion2 </li>
    </ul>

</body>
</html>
